<form [formGroup]="form" novalidate>
  <div class="row">
    <div class="col-md-6">
      <div class="form-group">
        <label for="nomeInput">Nome</label>
        <input
          type="text"
          class="form-control"
          formControlName="nome"
          aria-describedby="nomeHelp"
          placeholder="Digite o nome"
          maxLength="100"
        />
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col-md-6">
      <div class="form-group">
        <label for="enderecoInput">Endereço</label>
        <input
          type="text"
          class="form-control"
          formControlName="endereco"
          aria-describedby="enderecoHelp"
          placeholder="Digite o endereço"
          disabled
        />
      </div>
    </div>
    <div class="col-md-2">
      <div class="form-group">
        <label for="numero">Número</label>
        <input
          type="number"
          class="form-control"
          formControlName="numero"
          aria-describedby="numeroHelp"
        />
      </div>
    </div>
    <div class="col-md-4">
      <div class="form-group">
        <label>Complemento</label>
        <input
          type="text"
          class="form-control"
          formControlName="complemento"
          aria-describedby="complementoHelp"
        />
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col-md-2">
      <div class="form-group">
        <label for="cep">CEP</label>
        <input
          type="text"
          class="form-control"
          formControlName="cep"
          aria-describedby="cepHelp"
          (blur)="consultaCEP($event.target.value)"
          mask="00000-000"
        />
      </div>
    </div>

    <div class="col-md-4">
      <div class="form-group">
        <label for="cidade">Bairro</label>
        <input
          type="text"
          class="form-control"
          formControlName="bairro"
          aria-describedby="bairroHelp"
          disabled
        />
      </div>
    </div>
    <div class="col-md-4">
      <div class="form-group">
        <label for="cidade">Cidade</label>
        <input
          type="text"
          class="form-control"
          formControlName="cidade"
          aria-describedby="cidadeHelp"
          disabled
        />
      </div>
    </div>

    <div class="col-md-2">
      <div class="form-group">
        <label for="estadoInput">Estado</label>
        <input
          type="text"
          class="form-control"
          formControlName="estado"
          aria-describedby="estadoHelp"
          disabled
        />
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col-md-3">
      <div class="form-group">
        <label for="cep">Telefone Res.</label>
        <input type="text" class="form-control" mask="(00) 0000-0000" />
      </div>
    </div>
    <div class="col-md-3">
      <div class="form-group">
        <label for="cep">Telefone Cel.</label>
        <input type="text" class="form-control" mask="(00) 00000-0000" />
      </div>
    </div>
    <div class="col-md-6">
      <div class="form-group">
        <label for="cep">E-mail</label>
        <input type="text" class="form-control" s />
      </div>
    </div>
  </div>
  <button
    class="btn btn-outline-success mr-2"
    (click)="salvar()"
    *ngIf="habilitaSalvar"
    [disabled]="form.invalid"
  >
    Salvar
  </button>
  <button class="btn btn-outline-primary mr-2" (click)="atualizar()" *ngIf="habilitaAtualizar">
    Atualizar
  </button>
  <a class="btn btn-outline-danger mr-2" href="/lista">Cancelar</a>
</form>
