<form [formGroup]="form" novalidate>
  <div class="row">
    <div class="col-md-6">
      <div class="form-group">
        <label for="nomeInput">Nome</label>
        <input
          type="text"
          class="form-control"
          formControlName="nome"
          aria-describedby="nomeHelp"
          placeholder="Digite o nome"
          maxLengtd="100"
        />
      </div>
    </div>

    <div class="col-md-3">
      <div class="form-group">
        <label for="cep">Telefone Res.</label>
        <input
          type="text"
          class="form-control"
          formControlName="telefoneRes"
          aria-describedby="telefoneResHelp"
          mask="(00) 0000-0000"
        />
      </div>
    </div>

    <div class="col-md-3">
      <div class="form-group">
        <label for="cep">Telefone Cel.</label>
        <input
          type="text"
          class="form-control"
          formControlName="telefoneCel"
          aria-describedby="telefoneCelHelp"
          mask="(00) 00000-0000"
        />
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col-md-6">
      <div class="form-group">
        <label for="enderecoInput">Endereço</label>
        <input
          type="text"
          class="form-control"
          formControlName="endereco"
          aria-describedby="enderecoHelp"
          placeholder="Digite o endereço"
          disabled
        />
      </div>
    </div>
    <div class="col-md-2">
      <div class="form-group">
        <label for="numero">Número</label>
        <input
          type="number"
          class="form-control"
          formControlName="numero"
          aria-describedby="numeroHelp"
        />
      </div>
    </div>
    <div class="col-md-4">
      <div class="form-group">
        <label>Complemento</label>
        <input
          type="text"
          class="form-control"
          formControlName="complemento"
          aria-describedby="complementoHelp"
        />
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col-md-2">
      <div class="form-group">
        <label for="cep">CEP</label>
        <input
          type="text"
          class="form-control"
          formControlName="cep"
          aria-describedby="cepHelp"
          (blur)="consultaCEP($event.target.value)"
          mask="00000-000"
        />
      </div>
    </div>

    <div class="col-md-4">
      <div class="form-group">
        <label for="cidade">Bairro</label>
        <input
          type="text"
          class="form-control"
          formControlName="bairro"
          aria-describedby="bairroHelp"
          disabled
        />
      </div>
    </div>
    <div class="col-md-4">
      <div class="form-group">
        <label for="cidade">Cidade</label>
        <input
          type="text"
          class="form-control"
          formControlName="cidade"
          aria-describedby="cidadeHelp"
          disabled
        />
      </div>
    </div>

    <div class="col-md-2">
      <div class="form-group">
        <label for="estadoInput">Estado</label>
        <input
          type="text"
          class="form-control"
          formControlName="estado"
          aria-describedby="estadoHelp"
          disabled
        />
      </div>
    </div>
  </div>

  <div class="row">
    <!-- <div class="col-md-3">
      <div class="form-group">
        <label for="cep">Telefone Res.</label>
        <input
          type="text"
          class="form-control"
          formControlName="telefoneRes"
          aria-describedby="telefoneResHelp"
          mask="(00) 0000-0000"
        />
      </div>
    </div>
    <div class="col-md-3">
      <div class="form-group">
        <label for="cep">Telefone Cel.</label>
        <input
          type="text"
          class="form-control"
          formControlName="telefoneCel"
          aria-describedby="telefoneCelHelp"
          mask="(00) 00000-0000"
        />
      </div>
    </div> -->
    <div class="col-md-6">
      <div class="form-group">
        <label for="email">E-mail</label>
        <input
          type="text"
          class="form-control"
          formControlName="email"
          aria-describedby="emailHelp"
        />
      </div>
    </div>
  </div>

  <!-- Controle de Tratamento -->
  <div class="row">
    <div class="col-12">
      <h4 style="text-align: center;">CONTROLE DE TRATAMENTO</h4>
    </div>
    <div class="col-12" formArrayName="tratamentos">
      <div class="row" [formGroupName]="i" *ngFor="let item of tratamentos.controls; let i = index">
        <div class="col-md-3">
          <div class="form-group">
            <label for="data">Data</label>
            <input
              type="date"
              class="form-control"
              aria-describedby="datalHelp"
              formControlName="data"
            />
          </div>
        </div>
        <div class="col-md-1">
          <div class="form-group">
            <label for="data">Qtde</label>
            <input
              type="text"
              class="form-control"
              aria-describedby="datalHelp"
              formControlName="quantidade"
            />
          </div>
        </div>
        <div class="col-md-4">
          <div class="form-group">
            <label for="data">Tratamento</label>
            <input
              type="text"
              class="form-control"
              aria-describedby="datalHelp"
              formControlName="tratamento"
            />
          </div>
        </div>
        <div class="col-md-2">
          <div class="form-group">
            <label for="data">Valor</label>
            <input
              type="text"
              class="form-control"
              mask="separator.0"
              thousandSeparator=","
              formControlName="valor"
            />
          </div>
        </div>
        <div class="col-md-1">
          <div class="form-group">
            <label for="data">Soma</label>
            <br />
            <label for="">R$22,00</label>
          </div>
        </div>
        <div class="col-1">
          <div class="form-group" style="margin-top: 6px;">
            <label for="data">&nbsp;</label>
            <br />
            <fa-icon
              data-toggle="tooltip"
              data-placement="top"
              [icon]="['fa', 'plus-circle']"
              size="xl"
              style="color:#28a745;"
              tooltip="Adicionar"
              class="pointer"
            ></fa-icon>
            <fa-icon
              data-toggle="tooltip"
              data-placement="top"
              [icon]="['fa', 'edit']"
              size="xl"
              style="color:#0062cc; margin-left: 5px;"
              tooltip="Editar"
              class="pointer"
            ></fa-icon>
            <fa-icon
              (click)="excluir(i)"
              data-toggle="tooltip"
              data-placement="top"
              [icon]="['fa', 'trash-alt']"
              size="xl"
              style="color:#dc3545;margin-left: 5px;"
              tooltip="Excluir"
              class="pointer"
            ></fa-icon>
          </div>
        </div>
      </div>
    </div>
  </div>
  <button class="btn btn-outline-primary mr-2" (click)="addTratamentos()">
    +Incluir
  </button>
  <br /><br />

  <!-- Controle de Pagamento -->
  <!-- <div class="row">
    <div class="col-12">
      <h4 style="text-align: center;">CONTROLE DE PAGAMENTO</h4>
    </div>
    <div class="col-3">
      <div class="form-group">
        <label for="data">Data</label>
        <input type="date" class="form-control" aria-describedby="datalHelp" />
      </div>
    </div>
    <div class="col-2">
      <div class="form-group">
        <label for="data">Pagou</label>
        <input type="text" class="form-control" aria-describedby="datalHelp" />
      </div>
    </div>
    <div class="col-2">
      <div class="form-group">
        <label for="data">Soma</label>
        <br />
        <label for="">R$22,00</label>
      </div>
    </div>
    <div class="col-2">
      <div class="form-group">
        <label for="data">Deve</label>
        <input type="text" class="form-control" aria-describedby="datalHelp" />
      </div>
    </div>
    <div class="col-2">
      <div class="form-group">
        <label for="data">Caixa</label>
        <br />
        <input type="text" class="form-control" aria-describedby="datalHelp" />
      </div>
    </div>

    <div class="col-1">
      <div class="form-group" style="margin-top: 6px;">
        <label for="data">&nbsp;</label>
        <br />

        <fa-icon
          [icon]="['fa', 'plus-circle']"
          size="xl"
          style="color:#28a745;"
          tooltip="Adicionar"
          class="pointer"
        ></fa-icon>
        <fa-icon
          [icon]="['fa', 'edit']"
          size="xl"
          style="color:#0062cc; margin-left: 5px;"
          tooltip="Editar"
          class="pointer"
        ></fa-icon>
        <fa-icon
          [icon]="['fa', 'trash-alt']"
          size="xl"
          style="color:#dc3545;margin-left: 5px;"
          tooltip="Excluir"
          class="pointer"
        ></fa-icon>
      </div>
    </div>
  </div> -->

  <!-- <table class="table table-bordered">
    <thead>
      <tr scope="row" style="text-align: center;">
        <th colspan="6">
          CONTROLE DO TRATAMENTE
        </th>
        <th colspan="6">
          CONTROLE DE PAGAMENTO
        </th>
      </tr>
      <tr style="text-align: center;">
        <th colspan="1">Data</th>
        <th colspan="1">Qtde</th>
        <th colspan="2">Tratamento</th>
        <th colspan="1">Valor</th>
        <th colspan="1">Soma</th>
        <th colspan="1">Data</th>
        <th colspan="1">Pagou</th>
        <th colspan="1">Soma</th>
        <th colspan="1">Deve</th>
        <th colspan="2">Caixa</th>
      </tr>
    </thead>
    <tbody>
      <tr>

      </tr>
    </tbody>
  </table> -->

  <button
    class="btn btn-outline-success mr-2"
    (click)="salvar()"
    *ngIf="habilitaSalvar"
    [disabled]="form.invalid"
  >
    Salvar
  </button>
  <button class="btn btn-outline-primary mr-2" (click)="atualizar()" *ngIf="habilitaAtualizar">
    Atualizar
  </button>
  <a class="btn btn-outline-danger mr-2" href="/lista">Cancelar</a>

  <pre>{{ form.value | json }}</pre>
</form>
