<div>
  <table class="table table-striped table-hover">
    <thead class="thead">
      <tr>
        <th scope="col">Nome</th>
        <th scope="col">Endereço</th>
        <th scope="col">Número</th>
        <th scope="col">Complemento</th>
        <th scope="col"></th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let item of enderecos; let i = index">
        <td>{{ item.nome }}</td>
        <td>{{ item.endereco }}</td>
        <td>{{ item.numero }}</td>
        <td>{{ item.complemento }}</td>
        <td>
          <div class="float-right">
            <button
              type="button"
              class="btn btn-outline-primary btn-sm mr-2"
              [routerLink]="['/cadastro', item.id]"
            >
              Alterar
            </button>
            <button
              type="button"
              class="btn btn-outline-danger btn-sm"
              (click)="excluirLista(item.id)"
            >
              Excluir
            </button>
          </div>
        </td>
      </tr>
    </tbody>
  </table>

  <div class="row">
    <div class="col-sm-12">
      <button type="button" class="btn btn-outline-primary btn-sm" [routerLink]="['/cadastro']">
        Adicionar
      </button>
    </div>
  </div>
</div>
